<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.codeplay.android_demo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.TextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>

        <activity android:name=".views.TextSwitcherDemoActivity"
            android:label="@string/text_switcher"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".views.TextSelectionDemoActivity"
            android:label="@string/text_selection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.ViewGroupsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.BottomSheetsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.TabLayoutActivity"
            android:label="@string/tablayout"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.ViewFlipperActivity"
            android:label="@string/viewflipper"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.GridViewActivity"
            android:label="@string/gridview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.ListViewActivity"
            android:label="@string/listview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.StackViewActivity"
            android:label="@string/stackview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".viewgroups.RecyclerViewActivity"
            android:label="@string/gridview"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".animations.FlyingBirdLaunchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".animations.FlyingBirdDemoActivity"
            android:label="@string/view_animation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity android:name=".animations.FlippingActivity"
            android:label="@string/property_animation"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".animations.TextSwitchingActivity"
            android:label="@string/viewpropertyanimator"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".animations.InterpolatorDemoActivity"
            android:label="@string/interpolator"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".components.ServiceDemoActivity"
            android:label="@string/service"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <service android:name=".components.MediaPlayerService"
                 android:exported="false"/>

        <activity android:name=".components.BroadcastReceiverActivity"
            android:label="@string/broadcast_receiver"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <!-- broadcast receiver registered in the manifest
        <receiver android:name=".components.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
          -->
        
        <provider
            android:authorities="my.com.codeplay.android_demo.data"
            android:name=".storages.DatabaseProvider"
            android:exported="false"/>

        <activity android:name=".multimedia.VideoPlaybackActivity"
            android:label="@string/videoview"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        
        <activity android:name=".storages.DatabaseDemoActivity"
            android:label="@string/database"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".storages.LoaderManagerDemoActivity"
            android:label="@string/loadermanager"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <activity android:name=".networks.WebViewDemoActivity"
            android:label="@string/webview"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
            </intent-filter>
        </activity>

        <activity android:name=".networks.ThreadsDemoActivity"
            android:label="@string/asynctask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>

    </application>

</manifest>